.management{
    display: flex;
}
.playerDetail{
    width: 70%;
    border-right: 1px solid gray;
}
.team{
    width: 30%;
    text-align: center;
    color: lightslategray;
    border-bottom: 1px solid gray;
}